*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #fff3f3;
    background: url(../images/developer.png), url(../images/header_bg.png) , #fff3f3;
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 45px;
}
.logo h2{
    font size : 45px; ;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    width: left 390px;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color:#FD6E0A ;
    border: none;
    padding: 18px 35px 19px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width:827px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
}
.section-heading p{
    font-size: 18px;
    margin-bottom:30px ;
    color: #757575;
}
.section-heading h2{
    font-size: 30px;
    margin-bottom: 30px;
}
#banner.banneer-content{
    max-width: 585px;
}
#banner{
    margin:47px 38px 0px 230px ;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    
}
.banner-content h2{
    font-size: 45px;
    color:#474747;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;;
    margin-bottom:20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image{
    max-width: 585px;
    vertical-align:middle;
}
#about{
    padding-top: 130px;
}
.about-container{
    width:71%;
    max-width:1140px ;
    margin: 0 auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
}
.about-info{
    display: flex;
    justify-content:space-around ;
    gap: 50px;
}
.info-card p{
    font-size: 20px;
    line-height:30px ;
    color: #757575;
}
#skills{
    padding-top: 130px;
}
.slills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-boc{
    display: flex;
    gap: 24px;
}
.skills-card{
    padding: 30px;
    max-width:267px ;
    box-shadow: 0 6px 50px 0 #0000004b ;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}